---
import LinkCard from "@components/link-card/LinkCard.astro";
import type { Link } from "@/types/link.type";

interface Props {
  links: Link[];
}

const { links }: Props = Astro.props;
---

{
  links.length > 0 && (
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {links.map((link) => (
        <LinkCard link={link} />
      ))}
    </ul>
  )
}

{
  links.length === 0 && (
    <div class="text-center mt-10">
      <h4 class="text-slate-500 text-3xl font-bold">
        No short links found.
        <br /> Create one above!
      </h4>
    </div>
  )
}
