---
import RootLayout from "@layouts/RootLayout.astro";
import ShortLinkForm from "@components/short-link-form/ShortLinkForm";
import Header from "@components/header/Header.astro";
import Footer from "@components/footer/Footer.astro";
import { getAllLinks } from "@/services/link.service";
import LinkList from "@components/link-list/LinkList.astro";

const links = await getAllLinks();
---

<RootLayout>
  <main class="flex flex-col items-center max-w-2xl mx-auto pt-4">
    <Header />

    <ShortLinkForm client:load />

    <section class="w-full my-8">
      <h1 class="text-2xl font-bold mb-4">Your Short Links</h1>

      <LinkList links={links} />
    </section>

    <Footer />
  </main>
</RootLayout>
