---
import Layout from "../layouts/RootLayout.astro";
---

<Layout>
  <section
    class="flex flex-col items-center justify-center h-screen max-w-4xl mx-auto"
  >
    <h1 class="text-4xl font-bold">Welcome to bect.link</h1>
    <p class="mt-4 text-lg">A link shortener for Breimer Correa</p>
  </section>
</Layout>
