---
import ToggleDarkMode from "../toggle-dark-dode/ToggleDarkMode.astro";
---

<header
  class="flex flex-col items-center justify-center text-center"
  transition:persist
>
  <h1 class="text-4xl font-bold">Welcome to bre.link</h1>
  <p class="my-4 mb-8 text-lg">A link shortener for BRé</p>

  <ToggleDarkMode />
</header>
