---

---

<header
  class="flex flex-col items-center justify-center text-center"
  transition:persist
>
  <h1 class="text-4xl font-bold">Welcome to brever.link</h1>
  <p class="my-4 mb-8 text-lg">
    shorten your links and share them with the world!
  </p>
</header>
