---
import("@styles/global.css");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>bect.link</title>

    <meta property="og:title" content="bect.link" />
    <meta
      property="og:description"
      content="A link shortener for Breimer Correa"
    />
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:url" content="https://bect.link" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="bect.link" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="bect.link" />
    <meta
      name="twitter:description"
      content="A link shortener for Breimer Correa"
    />
    <meta name="twitter:image" content="/og-image.png" />
    <meta name="twitter:url" content="https://bect.link" />
    <meta name="twitter:site" content="@_dotBRe" />
    <meta name="twitter:creator" content="@_dotBRe" />
    <meta
      name="twitter:image:alt"
      content="A link shortener for Breimer Correa"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
